<?php

/**
 * RippingCluster Library path
 * 
 * Specifies the absolute or relative path to the RippingCluster library directory, relative to the webui root directory.
 * Path must end with a trailing slash.
 * 
 * @var string
 */
define('RippingCluster_Lib', '../lib/');

/**
 * RippingCluster Database Configuration
 * 
 * Specifies the absolute or relative path to the RippingCluster database configuration file. 
 * This is a standard ini type file, containing the config required to connect to the database.
 * 
 * @var string
 */
define('RippingCluster_DBConfig', '../dbconfig.conf');

?>