<Files dbconfig.conf>
	Order Allow,Deny
	Deny from all
</Files>

<IfModule mod_rewrite.c>

    RewriteEngine on
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?l=$1

</IfModule>
