/**
 * StatusBoard normal stylesheet
 *
 */
@import url('http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css'); 
@CHARSET "UTF-8";

@media all {
    body {
        margin: 0em;
        margin-top: 60px;
        padding-top: 40px;
        padding: 0em;
        font-family: verdana, helvetica, sans-serif;
/*        background: #F7F7F7;*/
    }
    
    a {
        color: gray;
    }
    
    label {
        margin-left: 1em;
        margin-right: 1em;
    }
    
    footer {
        padding: 2em;
        font-size: smaller;
        font-style: italic;
        color: #333333;
        text-align: center;
    }
    
    /* Centred dialog taken from http://stackoverflow.com/questions/1205457/how-to-design-a-css-for-a-centered-floating-confirm-dialog */
    #centrepoint {
        top: 50%;
        left: 50%;
        position: absolute;
    }
    #dialog {
        position: relative;
        width: 600px;
        margin-left: -300px;
        /*height: 20em;*/
        margin-top: -20em;
        
        display: none;
        background: #eeeeee;
        border: 2px solid #a7a09a;
    }
    #dialogheader {
        height: 2em;
        width: 100%; 
        margin: 0.3em;
    }
    #dialogheadertitle {
        color: black;
        font-weight: bold;
        float: left;
    }
    #dialogheaderclose {
        width: 1.2em;
        height: 1.2em;
        background-color: crimson;
        color: white;
        border: 1px solid fireBrick;
        float: right;
        margin-right: 1em;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        font-weight: bold;
        cursor: pointer;
    }
    #dialogcontent {
        padding: 0.5em;
    }
    .dialogfooterbuttonset {
        display: none;
        text-align: right;
    }
    
    .default {
        background: beige;
        color: darkgray;
        font-style: italic;
    }
    
    .icon {
        height: 16px;
        width: 16px;
    }
    
    form#setup-rips input[type="text"] {
    	width: 30em;
    }
    
    #quantizer-slider {
    	width: 20em;	
    }
    
    select.rip-streams {
        width: 20em;
    }
}

@media print {
    
    .no-print {
        display: none;
    }
    
    body {
        margin: 0;
    }
    
}