body {
    margin: 0em;
    padding: 0em;
    background: #a7a09a;
    font-family: verdana, helvetica, sans-serif;
}

a {
    color: gray;
}

label {
    margin-left: 1em;
    margin-right: 1em;
}

#container {
    width: 75%;
    min-width: 75em;
    margin: auto;
}

#banner {
    margin: 0em;
    padding: 0em;
    background: #eeeeee;
}

#banner h1 {
    padding: 0.5em;
}

#navigation {
    background: #eeeeee;
    margin-top: 0em;
    margin-bottom: 1em;
    padding: 0.2em;
}

#navigation ul {
   margin: 0em;
   padding: 0em 5em;;
   list-style: none;
}

#navigation li {
    margin: 1em;
    padding: 0em;
    display: inline;
}

#page-container {
    margin: 0em;
    padding: 0em;
}

#sidebar {
    float: left;
    width: 20em;
    margin-bottom: 1em;

    background: #eeeeee;
}

#page {
    margin-left: 21em;
    margin-bottom: 1em;
    padding: 0.5em;

    background: #eeeeee;
}

#footer {
    clear: both;
    padding: 2em;
    font-size: smaller;
    font-style: italic;

    background: #eeeeee;
    color: #333333;

}

#errors {
    background: peachpuff;
    color: darkred;
    margin: 1em;
}

#messages {
    background: lightcyan;
    color: darkblue;
    margin: 1em;
}

.default {
    background: beige;
    color: darkgray;
    font-style: italic;
}

.icon {
    height: 16px;
    width: 16px;
}

table#setup-rips input,select {
	
}

#quantizer-slider {
	width: 20em;	
}

select.rip-streams {
    width: 20em;
}

